body {
    font-family: 'Montserrat';
    margin: 0%;
}

.front-page {
    background-color : #1B2430 ;
}

@media (max-width : 1000px) {
    .main-page {
        text-align: center;
    }

    .price-intro {
        text-align: center;
    }

}

@media only screen and (min-width: 992px) {
    .cat-1 {
        width: 90% !important; 
        padding: 0 !important;
    }
}

h1 {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}
h2 {    
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5;
}

p {
    color: #4e4e4e ;
}

i {
    margin: 0 10px 0 0;
    font-size: 17px;
}

.big-des {
    color: white;
    margin-top: 20px;
    font-size: 2rem;
   
    
}

.full-brand {
    font-family: ubuntu;
    font-size: 25px;
    font-weight: 700;
    color: #c2d4d3;   
}

.brand {
    color: #ff4151;
    font-size: 2.8rem;
}

.cat-1 {
    transform: rotate(15deg);
    width: 50%;
    padding: 5%;
/*     
    position : relative;
    top : 5px;
    height : auto;
*/
}


.basic-info {
    color: #c2d4d3;
}

.container-fluid {
    padding: 3% 10% ;
    margin: 0;
}

.nav-item {
    margin: 0 18px;
    font-size: 1.2rem;
    font-family: "Montserrat";

}

nav-link:hover {
    color : #ff4151 !important;
}

.navbar {
    margin-bottom: 1rem;
}

/* Download buttons */

.donw-btn {
    color: #ccdbdb;
    margin: 5% 3% 5% 0;
    font-weight: 300;
}

/* features */

.features {
    background-color: rgb(255, 255, 255);
    color: #1B2430;
    text-align: center;
    padding: 8% 32px 8%;
    position: relative;
    z-index: 1;
}

.fea {
    margin: 3% 0 3%;
}

.fa-4x {
    color: #2b3a4d;

}

.fa-4x:hover {
    color: #1B2430;
}

/* reviews */

.review-content {
   margin-bottom: 1.2rem;
   font-weight: 700; 
   font-size: 2rem; 
   color: #fff;
}

.reviews {
    padding: 7% 15% 5%;
    text-align: center;
    background-color: #2b3a4d;
}

.review-img {
    width: 10%;
    margin-right: 10px;
    border-radius: 50%;
}

.reviewer {
    font-weight: 500;
    color: #c2d4d3;
}

/* press */

.press {
    background-color: #2b3a4d;
}

.press-img {
    width: 22%;
    padding: 4%;
}

.Business_Insider_Logo{
   width: 20%;
}

/* pricing */

.price-intro {
    padding: 5% 8% 0;
}

.price-intro-head {
    color: #1B2430;
}

.price-intro-des {
    color: #4e4e4e;
    font-size: 1.2rem;
}

.pricing {
    padding: 5%;
    margin: 0;
}

.pricing-font {
    color: #ccdbdb;
}

.pricing-header {
    background-color: #1B2430;
    border: none;
}

.pricing-card {
    color: white;
    background-color : #2b3a4d ;
    margin: 5%;
}

.pricing-card:hover {
    background-color: #1B2430;
}

/* footer */

footer {
    background-color: #1B2430;
    color: white;
    text-align: center;
    padding: 5%;
    
}

.footer-text {
    margin-bottom: 0;

}

.bottom-down {
    margin-bottom: 5%
}

.contact {
    width: 1%;
    margin: 0 auto;
    padding: 5%;
}

.cp {

    font-size: 60% ;
    text-align: center;
    margin-top: 5%;
    color: #1B2430;
    

}

.contact-info {
    padding: 5% 30% ;
}

@media only screen and (min-width: 992px) {
    .contact-info {
        padding: 5% 40% ;   
    }

}

a {
    color: #2b3a4d ;
}

a:hover {
    color: #1B2430;
}