body {
    font-family: 'Montserrat';
    margin: 0%;
    text-align: center;
}

h1, h2, h3 {
    font-weight: 700;
}

@media (max-width : 1000px) {
    .main-page {
        text-align: center;
    }
}

@media only screen and (min-width: 992px) {
    .cat-1 {
        width: 90% !important; 
        padding: 0 !important;
    }
    .contact-info {
        padding: 5% 40% ;   
    }
}

h1 {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}
h2 {    
    font-size: 1.5rem;
    line-height: 1.5;
}

p {
    color: #4e4e4e ;
}

i {
    margin: 0 10px 0 0;
    font-size: 17px;
}

/* navbar */
.full-brand {
    font-family: ubuntu;
    font-size: 25px;
    color: #ccdbdb;   
}

.brand {
    color: #ff4151;
    font-size: 2.8rem;
}

.navbar {
    margin-bottom: 1rem;
}

.nav-item {
    margin: 0 18px;
    font-size: 1.2rem;
    font-weight: 400;
}

nav-link:hover {
    color : #ff4151 !important;
}

/* front page */

#Front-page h1, button {
    text-align: left !important;
}

.big-heading {
    color: white;
    margin-top: 20px;
    margin-bottom: 5%;
    font-size: 2rem;
}

.front-page {
    background-color : #1B2430 ;
}

.cat-1 {
    transform: rotate(15deg);
    width: 50%;
    padding: 5%;
}

.basic-info {
    color: #ccdbdb;
}

.container-fluid {
    padding: 3% 10% ;
    margin: 0;
}

/* Download buttons */

.down-btn {
    color: #ccdbdb;
    margin: 5% 3% 5% 0;
    font-weight: 300;
    text-align: left;
}

.btn-dark {
    margin-right: 2%;
}


/* features */

.features {
    background-color: #fff;
    color: #1B2430;
    padding: 8% 32px;
}

.feature-logo {
    color: #2b3a4d;
}

.feature-logo:hover {
    color: #1B2430;
}

/* reviews */

.review-content {
   margin-bottom: 1.2rem;
   font-size: 2rem; 
   color: #fff;
}

.reviews {
    padding: 7% 15% 5%;
    background-color: #2b3a4d;
}

.review-img {
    width: 10%;
    margin-right: 10px;
    border-radius: 50%;
}

.reviewer {
    font-weight: 500;
    color: #ccdbdb;
}

/* press */

.press {
    background-color: #2b3a4d;
}

.press-img {
    width: 22%;
    padding: 4%;
}

.Business_Insider_Logo{
   width: 20%;
}

/* pricing */

#plans {
    padding: 5% ;
}

.price-intro-head {
    color: #1B2430;
}

.price-intro-des {
    color: #4e4e4e;
    font-size: 1.2rem;
}

.pricing {
    padding: 0 5% 0;
    margin: 0;
}

.pricing-font {
    color: #ccdbdb;
}

.pricing-header {
    background-color: #1B2430;
    border: none;
}

.pricing-card {
    color: white;
    background-color : #2b3a4d ;
    margin: 5%;
}

.pricing-card:hover {
    background-color: #1B2430;
}

/* footer */

footer {
    background-color: #1B2430;
    color: white;
    padding: 8%;
}

.down-btn-footer {
    margin: 5% 0% 0% 0;
    font-weight: 300;
}

.footer-text {
    margin-bottom: 0;

}

/* contact  */

.contact {
    width: 1px;
    margin: 0 auto;
    padding: 5% 0;
}

.Copyright {
    font-size: 70% ;
    color: #1B2430;
}

.contact-info {
    margin: 0;
}

a {
    color: #2b3a4d ;
}

a:hover {
    color: #1B2430;
}



