body {
    font-family: 'Montserrat';
    background-color : #1B2430 ;
}

h1 {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}
h2 {    
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5;
}

p {
    color: #4e4e4e ;
}

i {
    margin: 0 10px 0 0;
    font-size: 17px;
}

.big-des {
    color: white;
    margin-top: 20px;
    font-size: 3.4rem;
    min-width: 80%;
    
}

.full-brand {
    font-family: ubuntu;
    font-size: 25px;
    font-weight: 700;
    color: #c2d4d3;   
}

.brand {
    color: #ff4151;
    font-size: 2.8rem;
}

.cat-1 {
    margin-left: 30px;
    transform: rotate(15deg);
    max-width: 90%;
    
    position : relative;
    top : 5px;
    height : auto;
}

.basic-info {
    color: #c2d4d3;
}

.container-fluid {
    padding: 3% 10% ;
    width: auto;
    margin: 0;

}

.nav-item {
    margin: 0 18px;
    font-size: 1.2rem;
    font-family: "Montserrat";

}

nav-link:hover {
    color : #ff4151 !important;
}

.navbar {
    margin-bottom: 1rem;
}

/* Download buttons */

.donw-btn {
    color: #ccdbdb;
    margin: 5% 3% 5% 0;
    font-weight: 300;
}

/* features */

.features {
    background-color: rgb(255, 255, 255);
    color: #1B2430;
    text-align: center;
    padding: 8% 32px 10%;

}

.fa-4x {
    color: #2b3a4d;

}

.fa-4x:hover {
    color: #1B2430;
}

.reviews {
    padding: 7% 15% 6%;
    text-align: center;
    background-color: #2b3a4d;
}

.review-img {
    width: 10%;
    margin-top: 20px;
    border-radius: 50%;
}

.reviewer {
    margin: 50px 20px 0;
    font-weight: 500;
    color: #c2d4d3;

}

/* press */

.press {
    background-color: #2b3a4d;

}
